
@{
    ViewBag.Title = "Editar Usuário";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<h2>Editar</h2>

<div class="form-group">
    <div>
        <label>Nome</label>
        <input type="text" id="txt-Nom" class="form-control" />
    </div>
    <div>
        <label>E-mail</label>
        <input type="text" id="txt-Mai" class="form-control" />
    </div>

    <div>
        <label>Senha</label>
        <input type="password" id="txt-Sen" class="form-control" />
    </div>


    <div>
        <label>Empresa</label>
        <input type="text" id="txt-Emp" class="form-control" />
    </div>

    <div>
        <label>Perfil</label>
        <select id="txt-Per" class="form-control">
            <option value="A">Administrador</option>
            <option value="C">Cliente</option>
            <option value="G">Guarita</option>
        </select>
    </div>

    <div>
        <label>Situação</label>
        <select id="txt-Sit" class="form-control">
            <option value="A">Ativo</option>
            <option value="I">Inativo</option>
        </select>
    </div>
</div>



<div>
    <input id="salva" type="submit" value="Salvar" />
</div>

<script src="~/Scripts/Usuario/Editar.js"></script>