
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Usuario/ListaUsuario.js"></script>
<link href="~/Content/Usuario/Index.css" rel="stylesheet" />
<br />

<div class="container">
    <div class="row">
        <!-- inicio do PANEL-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--tituo do PANEL-->
                <h3 class="panel-title">Usuários</h3>
                <span class="pull-right">
                    <ul class="nav panel-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab"><!--aqui pode colocar um nome na coluna--></a></li>
                    </ul>
                </span>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="test">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        <strong>
                                            Nome
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            Email
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            Empresa
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            Perfil
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            Situação
                                        </strong>
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="BodyUsuario"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
